@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap');
a{
    text-decoration:none;
    color:#000;
}
a:hover{
    color:#000;
    text-decoration:underline;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  color: #000;
  font-family: "DM Sans", sans-serif;
}
.bor-top{
    border-top:1px solid #bfbfbf !important;
}
.bor-left{
    border-left:1px solid #bfbfbf !important;
}
.border-right{
    border-right:1px solid #bfbfbf !important;
}
.border-right-index{
    border-right:1px solid #bfbfbf !important;
}
.border-bottom{
    border-bottom:1px solid #bfbfbf !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #161616;
    
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#fade3a;
    text-decoration:none;
}
.navbar-nav .nav-link {
    color: #00;
    font-weight:700;
    font-size:1rem
}
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);   
}
.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    font-weight: normal;
    color: #000;
    padding: 10px 10px;
    font-size:0.875rem;
    font-weight:400;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #000;
    text-decoration:none;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
    vertical-align: .200em;
    content: "";
   
}

.span{
    margin-top:8px;
    background-color:#fade3a;
    padding:0;
    border-radius:4px;
    margin-left:-3px;
    margin-right:10px;
}
.span:hover, .span:active,.span:focus{
    margin-top:8px;
    background-color:#161616;
    color:#ff0
    padding:0;
    border-radius:4px;
    margin-left:-3px;
    margin-right:10px;
}




.hero {
    position: relative;
    height: 65vh;
    color: white;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-overlay-cat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.hero-cat {
    position: relative;
    height: 35vh;
    color: white;
    overflow: hidden;
}

.hero-cat img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content-cat {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
    padding-top: 6%;
}
.hero-title-cat {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-title-cat a {
    color: #fff;
    
}

.hero-title-cat a:hover {
    color: #f2f2f2;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-top: 0px;
    text-shadow: 1px 1px 5px #595959;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 20px;
    padding-top: 15%;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px #595959;
}

.hero-title a {
    color: #fff;
}

.hero-title a:hover {
    color: #f2f2f2;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-top: 0px;
}

.hero-date {
    margin-top: 0px;
    font-size: 1rem;
}


.custom-card {
    border: none;
    margin-bottom: 20px;
}

.custom-card img {
    width: 100%;
    height: 200px; /* Atur tinggi sesuai keinginan */
    object-fit: cover; /* Memastikan gambar memenuhi kontainer tanpa mengubah rasio */
    border-radius: 0;
    transition: transform 0.3s ease;
}

.custom-card img:hover {
    transform: scale(1.05);
}

.custom-card-lg {
    border: none;
    margin-bottom: 20px;
}

.custom-card-lg img {
    width: 100%;
    height: 400px; /* Atur tinggi sesuai keinginan */
    object-fit: cover; /* Memastikan gambar memenuhi kontainer tanpa mengubah rasio */
    border-radius: 0;
    transition: transform 0.3s ease;
}

.custom-card-lg img:hover {
    transform: scale(1.05);
}

/* batas */
.custom-card-index {
    border: none;
    margin-bottom: 20px;
    /* border-bottom:1px solid #bfbfbf; */
}
/* 
.custom-card-index:last-child{
    border:0;
} */

.custom-card-index img {
    width: 100%;
    height: 200px; /* Atur tinggi sesuai keinginan */
    object-fit: cover; /* Memastikan gambar memenuhi kontainer tanpa mengubah rasio */
    border-radius: 0;
    transition: transform 0.3s ease;
}

.custom-card-index img:hover {
    transform: scale(1.05);
}

.custom-card-lg-index {
    border: none;
    margin-bottom: 20px;
    /* border-bottom:1px solid #bfbfbf; */
}

/* .custom-card-index-lg:last-child{
    border:0;
} */

.custom-card-lg-index img {
    width: 100%;
    height: 350px; /* Atur tinggi sesuai keinginan */
    object-fit: cover; /* Memastikan gambar memenuhi kontainer tanpa mengubah rasio */
    border-radius: 0;
    transition: transform 0.3s ease;
}

.custom-card-lg-index img:hover {
    transform: scale(1.05);
}
.ren-card-large {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: flex-start;
    padding: 0;   
    transition: transform 0.3s ease;
}


.ren-card-large img {
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
   
}
.ren-card-large:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.ren-card-large .card-body {
    color: white;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay effect */
}

.ren-card-small {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    /* border-bottom:1px solid #bfbfbf; */
}
/* .ren-card-small:last-child{
    border:0;
} */

.ren-card-small img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-left: 1rem;
    border-radius: 0px;
    transition: transform 0.3s ease;
}
.ren-card-small img:hover {
    transform: scale(1.05);
}

.topcard {
    /* border-bottom: 1px solid #ccc; */
    padding-bottom: 1.5rem;
}
.content {
    flex-grow: 1;
}
.topcard img {
    width: 150px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.topcard img:hover{
    transform: scale(1.05);
}
/* batas */

.category-tag {
    font-size: 0.9rem;
    color: #fade3a;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    text-shadow: 1px -1px 2px #000;
}

.card-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    /* font-size: 0.875rem; */
    font-size: 0.9rem;
    color: #999;
}
.ren-card {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    /* border-bottom:1px solid #bfbfbf; */
}
/* .ren-card:last-child{
    border-bottom:0;
} */

.ren-card .card-body {
    flex: 1;
    padding-right: 1rem;
}


.ren-card img {
    width:150px;
    height: 100px;
    object-fit: cover;
    border-radius: 0px;
    transition: transform 0.3s ease;
}

.ren-card img:hover{
    transform: scale(1.05);
}

.ren-card .card-title {
    margin-bottom: 0.5rem;
}


#categories{
    color:#fade3a;
    font-size:1rem
}

.title-news{
    font-weight:bold;
}

.number {
    font-size: 3rem;
    color: #fade3a;
    font-weight: bold;
    margin-right:10px;
}

.article-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    
}

.article-header p.text-muted {
    font-size: 1.2rem;
}

.author-date {
    display: flex;
    align-items: center;
    font-size:0.75rem;
}

.subjdl{
    font-size:1.5rem;
}

.subjdl a{
    color:#161616;
    text-decoration:underline;
    font-size:0.75rem;
}

.subjdl a::after{
    content:" >>";
}

.author-date .author-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.article-image img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.top-news{
    margin-top:-15px
}

.top-news h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.top-news .list-group-item {
    font-size: 1rem;
    padding: 10px 15px;
}

.top-news .list-group-item a {
    text-decoration: none;
    color: #000;
}

.top-news .list-group-item a:hover {
    text-decoration: underline;
}

.article-content{
    font-weight:400;
    font-size:1.125rem;
    letter-spacing:normal;
    line-height:1.6;
    color:#161616;
    max-width:808px;
    margin-left:auto;
    margin-right:auto;
}

.caption{
    max-width:808px;
    margin-left:auto;
    margin-right:auto;
}

.read__others{
    padding:20px;
    border-left:5px solid #fade3a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);0
    margin:100px;
}

.text-kuning{
    color:#fade3a !important;
}

.label_article{
    display: grid;
    grid-template-columns: minmax(0, 808px);
    justify-content: center;
    align-items: baseline;
    margin-top: 2rem;
    font-size:0.8rem;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.02;
    text-transform:uppercase;
}
.label_article ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 0;
}
.label_article li {
    position: relative;
    color:#161616;
    line-height: 1;
    background-color:#eceeef;
    padding:10px;
    border-radius:5px;
}

.adv_article-left{
    width:100%;
    padding:100px;
    /* background:; */
    text-align:center;
    color:#585858;
    background:#f6f6f6;
}
.adv_article-right{
    width:100%;
    padding:100px;
    height:750px;
    /* background:; */
    text-align:center;
    color:#585858;
    background:#f6f6f6;
}
.article-card {
    border: none;
    transition: transform 0.3s ease;
}

.article-card:hover {
    transform: translateY(-10px);
}

.article-card img {
    height: 250px;
    object-fit: cover;
}

.article-card .card-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.article-card small.text-uppercase.text-danger {
    font-weight: bold;
}
.number-circle {
    font-size: 2rem;
    color: #fade3a;
    width: 40px;
    height: 40px;
    padding:10px;
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.m-kecil {
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.media-body h6 {
    font-size: 0.9rem;
    line-height: 1;
}

.media-body a:hover h6 {
    color: #fade3a;
}
.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-img-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    boeder-radius:0;
}
.card{
    border-radius:0;
    background:none
}
.card small {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
}
#sticky{
    position: -webkit-sticky; /* Untuk Safari */
    position: sticky;
    top: 20px; /* Posisi sticky dari atas halaman */
}
.normal{
    position:relative ;
}


footer {
    background-color: #f8f9fa; /* Latar belakang abu-abu muda */
    color: #333;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size:0.75rem;

}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    font-size:0.75rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .btn-danger {
    background-color: #fade3a; /* Tombol merah */
    border-color: #fade3a;
}

footer .border-top {
    border-top: 1px solid #ddd;
}

footer .text-end a {
    margin-left: 1rem;
    color: #666;
    text-decoration: none;
}

footer .text-end a:hover {
    text-decoration: underline;
}

footer .text-center a {
    color: #666;
    margin: 0 10px;
    font-size: 1.25rem;
}

footer .text-center a:hover {
    color: #fade3a;
}

@media (max-width: 767px) {
    footer .col-md-4 {
        margin-top: 20px;
    }
}

@media screen and (max-width:991px){
    .border-right-index{
        border:0 !important;
    }
    
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0;
 
    content: "";
   
}

.span{
    margin-top:8px;
    background-color:#eceeef;
    padding:4px;
    border-radius:4px;
    margin-left:0px;
    margin-right:10px;
    text-align:center;
}
.span:hover, .span:active,.span:focus{
    margin-top:8px;
    background-color:#eceeef;
    color:#161616
    padding:0;
    border-radius:4px;
    margin-left:-3px;
    margin-right:10px;
}
}